<%- include('partials/header'); -%>
<h1><%= title %></h1>

<form action="" method="post">
  <label for="name">Genre: </label>
  <input
    type="text"
    name="name"
    id="name"
    placeholder="Fantasy, Poetry, etc."
    value="<%= typeof genre == 'undefined' ? '' : genre.name %>"
  />
  <button type="submit">Submit</button>
</form>

<% if (typeof errors != 'undefined') { %>
<ul>
  <% errors.forEach(function(error){ %>
  <li><%= error.msg %></li>
  <% }); %>
</ul>
<% } %>
