<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina</title>
    <link rel="stylesheet" href="/public/stylesheets/main.css" />
  </head>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/books">All books</a></li>
      <li><a href="/authors">All authors</a></li>
      <li><a href="/genres">All genres</a></li>
      <li><a href="/bookinstances">All book instances</a></li>
      <hr />
      <li><a href="/books/create">Create new book</a></li>
      <li><a href="/authors/create">Create new author</a></li>
      <li><a href="/genres/create">Create new Genre</a></li>
      <li>
        <a href="/bookinstances/create">Create new book instance (copy)</a>
      </li>
    </ul>
  </nav>
  <body></body>
</html>
